<% content_for :table_filter do %>
  <div data-hook="admin_orders_index_search">
    <%= search_form_for @search, url: spree.unexported_orders_admin_reports_path do |f| %>
      <div class="row">
        <div class="field-block col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="field">
            <%= label_tag :q_completed_at_gt, Spree.t(:since) %>
            <%= f.text_field :completed_at_gt,
                class: 'datepicker datepicker-from',
                value: datepicker_field_value(params[:q][:completed_at_gt])
            %>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-6">
          <div class="row">
            <div class="col-12 col-xl-6">
              <div class="field">
                <%= label_tag :q_number_cont, Spree.t(:order_number, number: '') %>
                <%= f.text_field :number_cont %>
              </div>
            </div>

            <div class="col-12 col-xl-6">
              <div class="field">
                <%= label_tag :q_email_cont, Spree.t(:email) %>
                <%= f.text_field :email_cont %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="actions filter-actions">
        <div data-hook="admin_orders_index_search_buttons">
          <%= button Spree.t(:filter_results) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
